---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

## Working Papers

<ul>
{% for post in site.publications reversed %}
  {% if post.status == "working_paper" %}
    {% include archive-single-cv.html %}
  {% endif %}
{% endfor %}
</ul>

---

## Published Papers

<ul>
{% for post in site.publications reversed %}
  {% if post.status == "published" %}
    {% include archive-single-cv.html %}
  {% endif %}
{% endfor %}
</ul>
